{% extends "base.html" %}

{% block title %}Supervisor Dashboard{% endblock %}

{% block wrapper_class %}wide{% endblock %}
{% block card_class %}wide{% endblock %}

{% block content %}

<h1 class="hostel-brand">BUNK HOUSE</h1>

<div class="nav-segments">

    <!-- Complaints -->
    <a href="{{ url_for('shaj.view_complaints') }}">
    Complaints
    </a>

    <a href="{{ url_for('shaj.view_leaves') }}">Leave</a> 
                
    <span class="disabled">Booking</span>
    
    <!-- Requests -->
    <a href="{{ url_for('supervisor.service_requests') }}">
        Requests
    </a>    

    <!-- Staff -->
    <a href="{{ url_for('supervisor.staff') }}">
        Staff
    </a>

    <!-- Reports -->
    <span class="disabled">
        Reports
    </span>

</div>

<p class="welcome-line">
    Welcome, {{ username }}. This is your supervisor dashboard.
</p>

{% endblock %}
